<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726802578684-o1s2crblm1si8uingr9ttqiji45tle78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726802578684-o1s2crblm1si8uingr9ttqiji45tle78</string>
	<key>API_KEY</key>
	<string>AIzaSyBWbfoTCBQYyLUILkIXCn4jF3mClz3b-X4</string>
	<key>GCM_SENDER_ID</key>
	<string>726802578684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vladislavvaz.Pingu-Chat</string>
	<key>PROJECT_ID</key>
	<string>pingu-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>pingu-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726802578684:ios:c031a4bb93085e33572b79</string>
	<key>DATABASE_URL</key>
	<string>https://pingu-messenger.firebaseio.com</string>
</dict>
</plist>